/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 31, 2017, 12:29:13 PM
    Author     : Arif
*/

.backgroundTop{
    background-color: #0098DA;
}

.backgroundBottom{
    background-color: #F4F5F6;
    padding-bottom: 100px;
}

.content-top{
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;

    background-color: #F4F5F6;
    background-image: url('../../img/icon/shadow-top.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}

.boxOut-pageTitle{
    color: #0D84BB;
    font-size: 50px;
    margin-top: 70px;
}

.boxOut-pageSubTitle{
    color: #333333;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 70px;
}

.boxOut-pageSubTitle a{
    color: #0D84BB;
}

.boxOut-pageSubTitle a:hover{
    color: #0D6791;
}

.field-username, .field-username:focus{
    width: 315px;
    height: 40px;
    border-radius: 5px;
    padding: 0px 10px;
    background-color: white;
    border: none;
    box-shadow: none;
    color: #666666;
    font-size: 14px;
    float: none;
    text-align: center;
    margin-bottom: 15px;
}

.field-username::-webkit-input-placeholder { 
    color: #666666 !important; 
    font-style: normal;
    text-align: center;
}
.field-username:-moz-placeholder { 
    color: #666666 !important; 
    font-style: normal;
    text-align: center;
}
.field-username::-moz-placeholder { 
    color: #666666 !important; 
    font-style: normal;
    text-align: center;
}
.field-username:-ms-input-placeholder { 
    color: #666666 !important; 
    font-style: normal;
    text-align: center;
}

.box-button-login{
    width: 315px;
    height: 40px;
    float: none;
    margin-bottom: 15px;
}

.button-login{
    width: 100%;
    height: 100%;
    margin: 0px;
    background-color: #4ABDED;
    color: white !important;
    font-size: 18px;

    border-radius: 5px;
    padding: 0px;
    text-align: center;
    transition-duration:1s;
}

.button-login:hover, .button-login:focus{
    background-color: #79CDF0 !important;
    transition-duration:0.5s;
}

.boxOut-lupaPassword a{
    color: #4ABDED;
    font-size: 14px;
}

.boxOut-lupaPassword a:hover{
    color: #3F9CC4;
}

.box-forgot-text{
    width: 315px;
    float: none;
    margin-bottom: 15px;
}

.circle-atau{
    height: 64px;
    width: 64px;
    border-radius: 100%;
    background-color: #94D9F8;
    color: white;
    font-size: 20px;
    text-align: center;
    padding-top: 16px;
    float: none;
}

.button-loginSocial{
    width: 100%;
    height: 100%;
    margin: 0px;
    background-color: transparent;
    color: #0D84BB !important;
    font-size: 16px;
    border: 2px solid #0D84BB;

    border-radius: 5px;
    padding: 0px;
    text-align: center;
    margin-top: 30px;
    transition-duration:0.5s;
}

.button-loginSocial:hover, .button-loginSocial:focus{
    background-color: #E5E7E8 !important;
    transition-duration:0.5s;
}

.img-loginFB{
    width: 13px;
    height: 24px;
    margin-right: 30px;
}

.img-loginGoogle{
    width: 35px;
    height: 24px;
    margin-right: 20px;
}

.boxOut-footerLogin{
    position: absolute; 
    bottom: 20px;
}

.box-footerLogin{
    width: 840px;
    bottom: 20px;
    float: none;
    color: #999999;
    font-size: 12px;
}

.footer-batas{
    margin-left: 10px;
    margin-right: 10px;
}





@media (max-width:1366px) {

    .field-username, .field-username:focus {
        width: 225px;
        height: 30px;
        font-size: 12px;
        border-radius: 2px;
        margin-bottom: 13px;
    }

    .box-button-login {
        width: 225px;
        height: 30px;
        margin-bottom: 5px;
        border-radius: 2px;
    }

    .button-login {
        border-radius: 2px;
        font-size: 14px;
    }

    .button-loginSocial{
        border-radius: 2px;
        font-size: 12px;
        margin-top: 20px;
    }

    .img-loginFB {
        width: 9px;
        height: 17px;
        margin-right: 20px;
    }

    .img-loginGoogle {
        width: 25px;
        height: 17px;
        margin-right: 10px;
    }

    .circle-atau {
        height: 45px;
        width: 45px;
        font-size: 14px;
        padding-top: 12px;
    }

    .box-forgot-text {
        width: 225px;
        margin-bottom: 10px;
    }

    .box-footerLogin {
        width: 740px;
        font-size: 10px;
    }

    .boxOut-lupaPassword a {
        font-size: 11px;
    }

    .boxOut-pageSubTitle {
        font-size: 11px;
        margin-top: 15px;
        margin-bottom: 35px;
    }

    .boxOut-pageTitle {
        color: #0D84BB;
        font-size: 38px;
        margin-top: 30px;
    }





}


@media (max-width:1200px) {


}

@media (max-width:992px) {





}

@media (max-width:767px) {

    .content-top {
        margin-top: 120px !important;
    }

    .box-footerLogin {
        width: 100%;
        font-size: 10px;
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
    }

    .boxOut-content{
        padding-left: 20px;
        padding-right: 20px;
    }

    .boxOut-pageTitle {
        font-size: 30px;
        margin-top: 30px;
    }

    .boxOut-pageSubTitle {
        font-size: 10px;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .boxOut-footerLogin {
        position: inherit;
        bottom: auto;
        margin-top: 50px;
    }
    
    .content-top{
        position: inherit;
    }
    
    .box-footerLogin {
        margin-bottom: 20px;
    }

}