/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 31, 2017, 12:29:13 PM
    Author     : Arif
*/

.boxOut-search{
    width: calc(100% - 180px);
    float: left;
    position: relative;
    min-height: 1px;
}

.btn-filter {
    background-color: #3AAFE4;
    border-color: #3AAFE4;
}